<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}Study With Cards{% endblock %}</title>
    <!-- ОСНОВНОЙ ШРИФТ САЙТА - Alegreya sans -->
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500&family=Arial+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base_page.css' %}">
</head>

<body>
    <div class="header">
        <a class="site-title" href="{% url 'home' %}">Study With Cards</a>

        <div class="user-container" id="userDropdown">
            <div class="user-info">
                <div>{{ user.name }}</div>
                <div style="font-size: 0.8em;">{{ user.email }}</div>
            </div>

            <div class="user-icon" style="background-image: url(
                {% if user.avatar %}
                    {{ user.avatar.url }}
                {% else %}
                    {% static 'images/user-icon.png' %}
                {% endif %});">
            </div>

            <div class="dropdown-menu" id="dropdownMenu">
                <a href="{% url 'stats' %}" class="dropdown-item">Статистика</a>
                <a href="#" class="dropdown-item" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Выход</a>
                <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <script src="{% static 'js/base_page.js' %}"></script>

    {% block content %}{% endblock %}

    {% block extra_css %}{% endblock %}

    {% block extra_js %}{% endblock %}
</body>
</html>