{% extends 'base_page.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="cards-container" id="cardsContainer">
        <!-- ТУТ РАСПОЛАГАЕТСЯ СПИСОК КАРТОЧЕК -->
    </div>

    <div class="add-card-container">
        <button class="add-card-btn" id="addCardBtn"></button>
    </div>

    <button class="save-set-btn" id="saveSetBtn">СОХРАНИТЬ НАБОР</button>
</div>

<!-- Всплывающее окно для ввода названия набора карточек -->
{% include 'inner_templates/modal.html' %}

<form id="cardSetForm" method="post" action="{% url 'create_card_set' %}" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="card_set_name" id="cardSetNameInput">
    <div id="cardsDataContainer"></div>
</form>

<!-- Стиль для страницы -->
<link rel="stylesheet" href="{% static 'css/cards_creation.css' %}">
<!-- Стиль для карточки -->
<link rel="stylesheet" href="{% static 'css/inner_elements/card.css' %}">
<!-- Стиль для всплывающего окна сохранения -->
<link rel="stylesheet" href="{% static 'css/inner_elements/modal.css' %}">

<!-- Скрипты для страницы -->
<script src="{% static 'js/cards_creation.js' %}"></script>
{% endblock %}
