{% extends 'base_page.html' %}

{% load static %}

{% block content %}
<!-- Grid с наборами карточек -->
<div class="cardsets-grid">
    {% for cardset in user.cardset_set.all %}
    <div class="cardset-item-container">
        <a href="{% url 'cards_study' cardset.id %}" class="cardset-item">
            <div class="cardset-name">{{ cardset.name }}</div>
            <div class="cardset-count">Карточек - {{ cardset.card_set.count }}</div>
        </a>
        <button class="delete-card-btn" data-cardset-id="{{ cardset.id }}"></button>
    </div>
    {% endfor %}
</div>

<!-- Всплывающее окно подтверждения удаления -->
<div class="modal-overlay" id="deleteModal">
    <div class="name-input-modal" style="width: 300px;">
        <div class="modal-title">Вы действительно хотите удалить эти карточки?</div>
        <div class="modal-buttons">
            <button class="modal-btn cancel-btn">Отмена</button>
            <button class="modal-btn delete-confirm-btn">Удалить</button>
        </div>
    </div>
</div>

<!-- Кнопка, перебрасывающая на страницу создания набора карточек -->
<a href="{% url 'cards_creation' %}" class="add-button"></a>

<!-- СSS И JavaScript -->
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
