<head>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500&family=Arial+Black&display=swap" rel="stylesheet">
</head>

{% load static %}

{% block content %}
<body>
    <div class="login-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="user-icon-container" onclick="document.getElementById('id_avatar').click()">
                <div class="user-icon" id="user-icon-preview"
                     style="background-image: url('{% static 'images/user-icon.png' %}')"></div>
                {{ form.avatar }}
            </div>

            <div class="form-fields">
                <div class="input-group">
                    {{ form.email.label_tag }}
                    <div class="input-field">
                        {{ form.email }}
                    </div>
                    {{ form.email.errors }}
                </div>

                <div class="input-group">
                    {{ form.name.label_tag }}
                    <div class="input-field">
                        {{ form.name }}
                    </div>
                    {{ form.name.errors }}
                </div>

                <div class="input-group">
                    {{ form.password1.label_tag }}
                    <div class="input-field">
                        {{ form.password1 }}
                    </div>
                    {{ form.password1.errors }}
                </div>

                <div class="input-group">
                    {{ form.password2.label_tag }}
                    <div class="input-field">
                        {{ form.password2 }}
                    </div>
                    {{ form.password2.errors }}
                </div>
            </div>

            <div class="form-footer">
                <button type="submit" class="signup-btn">Sign Up</button>
            </div>
        </form>
    </div>
</body>

<!-- СSS И JavaScript -->
<link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
<script src="{% static 'js/sign_up.js' %}"></script>
{% endblock %}
