<head>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500&family=Arial+Black&display=swap" rel="stylesheet">
</head>

{% load static %}

{% block content %}
<body>
    <div class="login-container">
        {% if form.errors %}
        <div class="errorlist">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="form-fields">
                <div class="input-group">
                    {{ form.username.label_tag }}
                    <div class="input-field">
                        {{ form.username }}
                    </div>
                    {{ form.username.errors }}
                </div>

                <div class="input-group">
                    {{ form.password.label_tag }}
                    <div class="input-field">
                        {{ form.password }}
                    </div>
                    {{ form.password.errors }}
                </div>
            </div>

            <div class="form-footer">
                <button type="submit" class="signin-btn">Sign In</button>
                <p class="signup-link">Don't have an account? <a href="{% url 'sign_up' %}">Sign up</a></p>
            </div>
        </form>
    </div>
</body>

<!-- СSS И JavaScript -->
<link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
<script src="{% static 'js/sign_in.js' %}"></script>
{% endblock %}
