<div class="modal-overlay" id="modalOverlay">
    <div class="name-input-modal">
        <div class="modal-title-container">
            <div class="modal-title">НАЗВАНИЕ НАБОРА</div>
            <div class="modal-char-counter">0/50</div>
        </div>
        <input
            type="text"
            class="modal-input"
            id="setNameInput"
            placeholder="введите название"
            maxlength="50"
            autocomplete="off"
        >
        <div class="modal-buttons">
            <button class="modal-btn cancel-btn" id="cancelSaveBtn">ОТМЕНА</button>
            <button class="modal-btn save-btn" id="confirmSaveBtn">СОХРАНИТЬ</button>
        </div>
    </div>
</div>